.blog-image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $spacing-unit;
    width: 70%
}

.title-image {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $spacing-unit;
    width: 100%
}

.blog-image img {
    width: 100%;
}

.blog-image video {
    width: 100%;
}

.title-image img {
    width: 100%;
}

.title-image video {
    width: 100%;
}